DATABASE_URL="postgresql://airvent:change-me@127.0.0.1:5432/airvent"
APP_DOMAIN=aircheck.kr
AIR_API_BASE_URL="https://apis.data.go.kr/B552584/ArpltnInforInqireSvc"
AIR_STATION_API_BASE_URL="https://apis.data.go.kr/B552584/MsrstnInfoInqireSvc"
AIR_FETCH_STATION_INFO="true"
AIR_API_KEY=
CRON_SECRET="change-me"
ADMIN_SECRET="change-me-admin"
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
